// Colors
$primary-color: #4d194d;
$secondary-color: #272640;
$tertiary-color: #ffd700;
$fourth-color: #006466;
//$background-color: #121212;

//Text color
$text-color: #ffffff;
$text-color-light: #9a9a9a;
$text-color-dark: #9e9e9e;

//Background color
$body-bg: #121212;
$bg-light: #272640;
$bg-dark: #121212;

// Font
$font-family-base: 'Roboto', sans-serif;
