//Font families goes here!

@import 'variables';

// Import Bootstrap SCSS
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Custom styles (overrides Bootstrap's default styles)
body {
  color: $text-color;
}

p {
  color: #f5f5f5;
}
.carousel-icons {
  color: #121212;
}
.card-title {
  color: #f5f5f5;
}
/* Navbar show/close */

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.card-background {
  border-radius: 12px;
  border: 1px #f5f5f5;
  background: linear-gradient(180deg, #a68629 0%, #f0d290 100%);
  backdrop-filter: blur(10px);
}

.transparent {
  background: transparent;
}

.btn-custom {
  border-image: $btn-border-gradient !important;
  border-image-slice: 1 !important;
}

.form-control {
  background-color: #fff;
  border: 1px solid $primary;
  border-radius: 5px;
  color: #f5f5f5 !important;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  z-index: 9997;
  overflow: hidden;
  backdrop-filter: blur(8px);
}

.modal.show {
  display: block;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 1198px;
  background: transparent;
  border-radius: 5px;
}

.modal-header,
.modal-body {
  padding: 20px;
}
.img-modal {
  max-width: 288px;
}

.btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  z-index: 9999;
}
#closeModal:hover {
  color: #fff;
  cursor: pointer;
}

/*----------------- Loader ----------------- */

.lds-default,
.lds-default div {
  box-sizing: border-box;
}
.lds-default {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  left: 50%;
  right: 50%;
  translate: -50%;
  z-index: 9998;
}
.lds-default div {
  position: absolute;
  width: 6.4px;
  height: 6.4px;
  background: currentColor;
  border-radius: 50%;
  animation: lds-default 1.2s linear infinite;
}
.lds-default div:nth-child(1) {
  animation-delay: 0s;
  top: 36.8px;
  left: 66.24px;
}
.lds-default div:nth-child(2) {
  animation-delay: -0.1s;
  top: 22.08px;
  left: 62.29579px;
}
.lds-default div:nth-child(3) {
  animation-delay: -0.2s;
  top: 11.30421px;
  left: 51.52px;
}
.lds-default div:nth-child(4) {
  animation-delay: -0.3s;
  top: 7.36px;
  left: 36.8px;
}
.lds-default div:nth-child(5) {
  animation-delay: -0.4s;
  top: 11.30421px;
  left: 22.08px;
}
.lds-default div:nth-child(6) {
  animation-delay: -0.5s;
  top: 22.08px;
  left: 11.30421px;
}
.lds-default div:nth-child(7) {
  animation-delay: -0.6s;
  top: 36.8px;
  left: 7.36px;
}
.lds-default div:nth-child(8) {
  animation-delay: -0.7s;
  top: 51.52px;
  left: 11.30421px;
}
.lds-default div:nth-child(9) {
  animation-delay: -0.8s;
  top: 62.29579px;
  left: 22.08px;
}
.lds-default div:nth-child(10) {
  animation-delay: -0.9s;
  top: 66.24px;
  left: 36.8px;
}
.lds-default div:nth-child(11) {
  animation-delay: -1s;
  top: 62.29579px;
  left: 51.52px;
}
.lds-default div:nth-child(12) {
  animation-delay: -1.1s;
  top: 51.52px;
  left: 62.29579px;
}
@keyframes lds-default {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

/* .linear-gold {
  background: linear-gradient(180deg, #A68629 0%, #F0D290 100%);
} */

// /* Modal Background */
// .modal {
//   display: none;
//   position: fixed;
//   z-index: 1000;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgba(0, 0, 0, 0.8);
// }

// /* Modal Content */
// .modal-content {
//   background-color: #121212;
//   color: #fff;
//   margin: 10% auto;
//   padding: 0;
//   border-radius: 10px;
//   width: 80%;
//   max-width: 600px;
//   overflow: hidden;
// }

// /* Close Button */
// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
//   padding: 10px 15px;
//   cursor: pointer;
// }

// .close:hover,
// .close:focus {
//   color: #fff;
//   text-decoration: none;
//   cursor: pointer;
// }

// /* Column Layout */
// .row {
//   display: flex;
// }

// .col {
//   padding: 20px;
// }

// .left-col {
//   background-color: #121212;
//   text-align: center;
//   width: 40%;
// }

// .right-col {
//   width: 60%;
// }

// .logo {
//   max-width: 100px;
//   margin-bottom: 20px;
// }

// h5, p, label, a {
//   color: #fff;
// }

// p {
//   font-size: 14px;
// }

// .input-group {
//   margin-bottom: 15px;
// }

// .input-group input {
//   width: 100%;
//   padding: 10px;
//   background-color: #121212;
//   color: #fff;
//   border: 1px solid #F0D290;
//   border-radius: 5px;
// }

// .input-group input:focus {
//   outline: none;
//   border-color: #F0D290;
// }

// .btn {
//   background-color: transparent;
//   color: #F0D290;
//   border: 1px solid #F0D290;
//   padding: 10px 20px;
//   cursor: pointer;
//   border-radius: 5px;
// }

// .btn:hover {
//   background-color: #F0D290;
//   color: #121212;
// }

// .register {
//   margin-top: 20px;
//   text-align: center;
// }
