//Font families goes here!

@import 'variables';

// Import Bootstrap SCSS
@import '../../../node_modules/bootstrap/scss/bootstrap';

// Custom styles (overrides Bootstrap's default styles)
body {
  color: $text-color;
}

p {
  color: $text-color;
}

/* Navbar show/close */

.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.card-background {
  border-radius: 12px;
  border: 1px #f5f5f5;
  background: linear-gradient(180deg, #a68629 0%, #f0d290 100%);
  backdrop-filter: blur(10px);
}

.btn-custom {
  border-image: $btn-border-gradient !important;
  border-image-slice: 1 !important;
}

.form-control {
  background-color: $body-bg;
  border: 1px solid $primary;
  border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #121212;
  z-index: 1050;
  overflow: hidden;
}

.modal.show {
  display: block;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 1198px;
  background: transparent;
  border-radius: 5px;
}

.modal-header,
.modal-body {
  padding: 20px;
}
.img-modal {
  width: 300px;
}

#closeModal {
  position: absolute;
  top: 2opx; /* Avstand fra toppen */
  right: 20px; /* Avstand fra høyre */
  color: #fff !important;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: crosshair;
}
#closeModal:hover {
  color: #b58900;
  cursor: pointer;
}
/* .linear-gold {
  background: linear-gradient(180deg, #A68629 0%, #F0D290 100%);
} */

// /* Modal Background */
// .modal {
//   display: none;
//   position: fixed;
//   z-index: 1000;
//   left: 0;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   overflow: auto;
//   background-color: rgba(0, 0, 0, 0.8);
// }

// /* Modal Content */
// .modal-content {
//   background-color: #121212;
//   color: #fff;
//   margin: 10% auto;
//   padding: 0;
//   border-radius: 10px;
//   width: 80%;
//   max-width: 600px;
//   overflow: hidden;
// }

// /* Close Button */
// .close {
//   color: #aaa;
//   float: right;
//   font-size: 28px;
//   font-weight: bold;
//   padding: 10px 15px;
//   cursor: pointer;
// }

// .close:hover,
// .close:focus {
//   color: #fff;
//   text-decoration: none;
//   cursor: pointer;
// }

// /* Column Layout */
// .row {
//   display: flex;
// }

// .col {
//   padding: 20px;
// }

// .left-col {
//   background-color: #121212;
//   text-align: center;
//   width: 40%;
// }

// .right-col {
//   width: 60%;
// }

// .logo {
//   max-width: 100px;
//   margin-bottom: 20px;
// }

// h5, p, label, a {
//   color: #fff;
// }

// p {
//   font-size: 14px;
// }

// .input-group {
//   margin-bottom: 15px;
// }

// .input-group input {
//   width: 100%;
//   padding: 10px;
//   background-color: #121212;
//   color: #fff;
//   border: 1px solid #F0D290;
//   border-radius: 5px;
// }

// .input-group input:focus {
//   outline: none;
//   border-color: #F0D290;
// }

// .btn {
//   background-color: transparent;
//   color: #F0D290;
//   border: 1px solid #F0D290;
//   padding: 10px 20px;
//   cursor: pointer;
//   border-radius: 5px;
// }

// .btn:hover {
//   background-color: #F0D290;
//   color: #121212;
// }

// .register {
//   margin-top: 20px;
//   text-align: center;
// }
