/* // Breakpoints
$breakpoints: (
  xs: 0,         // Extra small devices (portrait phones, less than 576px)
  sm: 576px,     // Small devices (landscape phones, 576px and up)
  md: 768px,     // Medium devices (tablets, 768px and up)
  lg: 992px,     // Large devices (desktops, 992px and up)
  xl: 1200px,    // Extra large devices (large desktops, 1200px and up)
  xxl: 1400px    // Extra extra large devices (larger desktops, 1400px and up)
);

// Mixin for media queries
@mixin media-breakpoint-up($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}
 */
