// Colors

// $primary: #d4af37;
// $secondary: #c0c0c0;
// //$tertiary: #ffd700;
// $fourth: #006466;
// $primary-color-blue: #0a3d62;

//$background-color: #121212;

// Definerer gradienten som en variabel
$btn-border-gradient: linear-gradient(180deg, #a68629 0%, #f0d290 100%);

//Text color
$text-color: #f5f5f5;

//Background color
$body-bg: #121212;
//$bg-light: #272640;
$gray-900: #121212;

//Buttons
$btn-close-color: #f5f5f5;

// Define primary color
$cb-gold-color-rgb: rgb(166, 134, 41);
$cb-gold-color-hsl: hsl(45, 60%, 41%);
$cb-gold-color-hsl-lighter: hsl(45, 60%, 51%);
$cb-gold-color-hsl-lightest: hsl(41, 76%, 75%);
$cb-gold-color-hsl-darker: hsl(45, 60%, 31%);
$cb-gold-color-hsl-darkest: hsl(45, 60%, 21%);

$cb-silver-color-rgb: rgb(192, 192, 192);
$cb-silver-color-hsl: hsl(0, 0%, 75%);
$cb-silver-color-hsl-darker: hsl(0, 0%, 65%);
$cb-silver-color-hsl-darkest: hsl(0, 0%, 55%);

$cb-dark-color: #121212;
$cb-light-color: #f5f5f5;
$cb-light-grey: #737373;

// Font
$font-family-base: 'Roboto', sans-serif;
