// Variables for the theme
// _variables.scss
// Overstyrer Bootstrap sine variabler med dine egne

// Font families
$font-family-base: 'Merriweather', serif;
$font-family-headings: 'Playfair Display', serif;

// Font sizes
// $font-size-root: 16px; // Root font size
$font-size-base: 1rem; // Base font size
// $font-size-h1: 2.5rem; // H1 size (40px)
// $font-size-h2: 2rem; // H2 size (32px)
// $font-size-h3: 1.75rem; // H3 size (28px)
// $font-size-h4: 1.5rem; // H4 size (24px)
// $font-size-h5: 1.25rem; // H5 size (20px)
// $font-size-h6: 1rem; // H6 size (16px)

// $font-size-xs: $font-size-base * 0.875;
$font-size-sm: $font-size-base * 1;
$font-size-lg: $font-size-base * 1.125;
$font-size-xl: $font-size-base * 1.25;

// Line heights
$line-height-base: 1.5;
$line-height-heading: 1.2;

// Colors
// $body-bg: #121212;
// $text-color: #f5f5f5;
// $cb-gold-color: hsl(46, 65%, 52%);

// Colors
$cb-gold-color-rgb: #d4af37;
$cb-gold-color-hsl: hsl(46, 65%, 52%);
$cb-gold-color-hsl-transparent: hsl(45, 20%, 46%);
$cb-gold-color-hsl-lighter: hsl(46, 65%, 51%);
$cb-gold-color-hsl-lightest: hsl(46, 65%, 75%);
$cb-gold-color-hsl-darker: hsl(46, 65%, 31%);
$cb-gold-color-hsl-darkest: hsl(46, 65%, 21%);

$cb-silver-color-rgb: rgb(192, 192, 192);
$cb-silver-color-hsl: hsl(0, 0%, 75%);
$cb-silver-color-hsl-darker: hsl(0, 0%, 65%);
$cb-silver-color-hsl-darkest: hsl(0, 0%, 55%);

$cb-dark-color: #121212;
$cb-light-color: #f5f5f5;
$cb-light-grey: #737373;

//Background color
$body-bg: #121212;
// $bg-light: #272640;
$gray-900: #121212;

//Text color
$text-color: #f5f5f5;

//Buttons
$btn-close-color: #f5f5f5;

// Gradient colors for buttons
$btn-border-gradient: linear-gradient(180deg, #a68629 0%, #f0d290 100%);
